@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-border-1 {
    background: linear-gradient(rgb(9, 9, 11), rgb(9, 9, 11)) padding-box,
                linear-gradient(150deg, rgba(40,184,213,1) 0%, rgba(9,104,229,1) 69%, rgba(20,241,177,1) 100%) border-box;
    border-radius: 1.5rem;
    border: 3px solid transparent;
}

